@import "../../scss/variables", "../../scss/mixins";


.navbar{
    // background-color: $cardNavBgColor;
    background-color: rgb(44, 32, 32);
    display: flex;
    justify-content: space-evenly;
    // font-size: 2rem;
    font-family: 'Macondo Swash Caps', cursive;
}

a {
    color: $backgroundColor;
    text-decoration: none;
    font-size: 2.6rem;
    padding: 1rem;
    &:hover {
        background-color: $backgroundColor;
        color: $cardNavBgColor;
    }
}

@include media-xsm{
    .navbar{
        flex-direction: column;
        text-align: center;
    }
}

@include media-sm{
    .navbar{
        flex-direction: row;
    }
}