/* Color Theme Swatches in Hex */
$lightAqua: #00E3CC;
$lightAqua1: #32A89C;
$lightAqua2: #009688;
$lightAqua3: #44E3D3;
$lightAqua4: #00635A;


/* Color Theme Swatches in Hex */
$lightPink: #fcb1a7;
$lightOrange: #ffdacc;
$creme: #ffeee6;
$lightGreen: #aecfba;
$olive: #83af93;
